$m-color: (
  primary: rgb(58, 46, 168),
  secondary: rgb(24, 90, 165),
  warning: rgb(201, 105, 26),
  success: rgb(0, 175, 58),
);

:root {
  @each $key, $value in $m-color {
    --m-color-#{$key}: #{$value};
  }
}