@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap);

body, body * {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: map-get($m-grid-breakpoints, 'xl')) {
    html {
        font-size: 100% !important;
    }
}
@media only screen and (max-width: map-get($m-grid-breakpoints, 'lg')) {
    html {
        font-size: 95% !important;
    }
}
@media only screen and (max-width: map-get($m-grid-breakpoints, 'md')) {
    html {
        font-size: 90% !important;
    }
}
@media only screen and (max-width: map-get($m-grid-breakpoints, 'sm')) {
    html {
        font-size: 85% !important;
    }
}